**/.git
**/.gitignore
**/.vscode
**/.idea
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.venv
**/venv
**/env
**/node_modules
**/npm-debug.log*
**/.DS_Store
**/Thumbs.db
**/*.md
!**/README.md
docs/
.env
.env.*
!.env.example
pgdata/
*.sqlite3
*.db
